{% extends 'questionnaire/base.html' %}
{% block body_block %}
{% if user.is_authenticated %}
    {% if questionnaire_list %}
        {% for questionnaire in questionnaire_list %}
            <p>{{ forloop.counter }}. {{ questionnaire.questionnaire_title }}</p>
            <P>{{ questionnaire.questionnaire_description }}</P>
            <p><a href="/questionnaire/{{ questionnaire.id }}/edit/">修改</a>
            <a href="/questionnaire/{{ questionnaire.id }}/delete">刪除</a></p>
        {% endfor %}
    {% else %}
        <p>尚未新增任何問卷</p>
    {% endif %}
    <p><a href="{% url 'questionnaire:create' %}">按此新增問卷</a></p>
{% else %}
    <p>請先登入</p>
    <p><a href="{% url 'member:user_login' %}">登入</a></p>
{% endif %}
{% endblock %}